#searchWrapper{
  width: 500px;
  margin: 0 auto;
  padding: 5px 5px 5px 5px;
}
#search {
  margin-top: 10px;
  width: 300px;
}

.resultBox {
  margin-top: 2px;
  padding-top: 4px;
  width: 298px;
  border: 1px solid #d3d3d3;
  border-radius: 2;
}

.resultList {
    width:100%;
    border-bottom: 1px solid #d3d3d3;
    opacity: 1;
}

.resultList:hover{
  opacity: .5;
  cursor: pointer;
}

.thumbnail {
  width: 20%;
}

.description {
  margin-top: 5px;
  float: right;
  width: 79%;
}

.title {
  font-weight: bold;
}
.author {
  font-size: 12px;
}

.emptyList {
  margin-left: 10px;
  color: red;
}

.even{
  background-color: white;
}

.odd{
  background-color:#ADD8E6;
}
img {
  margin: 5px 0px 0px 5px;
}

.active{
  color: white;
  background-color: #3498db;
}
